/*https://material.io/guidelines/style/color.html#color-color-palette*/
/*https://www.materialpalette.com*/
@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-green, 500);
$accent: mat-palette($mat-grey, 400);
$warn:    mat-palette($mat-brown, 400);
$theme: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);